<nav>
  <ul>
    <li>
      <a routerLink="homeComponent"
         routerLinkActive="active">
         Home
      </a>
    </li>

    <li>
      <a routerLink="/fistComponent"
         routerLinkActive="active">
         First Component
      </a>
    </li>

    <li>
      <a routerLink="/secondComponent"
         routerLinkActive="active">
         Second Component
      </a>
    </li>

    <li>
      <a routerLink="/thirdComponent"
         routerLinkActive="active">
         Third Component
      </a>
    </li>

    <li>
      <a routerLink="/menuComponet"
         routerLinkActive="active">
         Menu
      </a>
    </li>

    <li>
      <a routerLink="/analytics"
         routerLinkActive="active">
         Analytics
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>