<button (click)="getAllUsers()" >Get All</button>

<input type="number" [(ngModel)]="userId" min="1" max="30">
<button (click)="getUserById(userId)">Get By Id</button>

<button (click)="clearTable()">Clear</button>
<hr>

<!-- SINGLE USER -->
<div *ngIf="selectedUser">
  <h3>User Details</h3>
  <p>{{ selectedUser.firstName }} {{ selectedUser.lastName }}</p>
  <p>{{ selectedUser.email }}</p>
</div>

<hr>

<!-- ALL USERS -->
<table *ngIf="userDetails.length > 0" border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>

  <tr *ngFor="let user of userDetails">
    <td>{{ user.id }}</td>
    <td>{{ user.firstName }}</td>
    <td>{{ user.email }}</td>
  </tr>
</table>